<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static '/css/all.css' %}" />
    <style>
        :root {
            --bgcolor1: #80cbc4;
            --bgcolor2: #e6ee9c;
            --txtcolor1: #ff9800;
            --txtcolor2: #757575;
        }

        .bg-mycolor1 {
            background: var(--bgcolor1) !important;
        }

        .bg-mycolor2 {
            background: var(--bgcolor2) !important;
        }

        .txt-mycolor1 {
            color: var(--txtcolor1) !important;
        }

        .txt-mycolor2 {
            color: var(--txtcolor2) !important;
        }

        .t1 {
            min-height: 40px;
        }

        #menu {
            background: transparent !important;
            min-height: 50px;
            width: 100%;
        }

        #menu {
            background: var(--bgcolor) !important;
            color: var(--txtcolor) !important;
        }

        .footer1 {
            min-height: 300px;
        }

        .footer2 {
            min-height: 50px;
            margin-top: .1%;
        }

        .img-responsive {
            min-height: 80px;
            width: 300px;
            margin: 10px;
            background-size: cover;
            border: 2px solid white;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row t1 bg-mycolor1 text-center border py-3">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <i class="fa-solid fa-envelope"></i>
                pradumsonkar@gmail.com
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <i class="fa-solid fa-phone"></i>
                +91,8127636924
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                Welcome to INDEED LEARNING
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-whatsapp"></i>
            </div>
        </div>

        <div class="row t2">
            <div class="col-sm-10 mx-auto">
                <div class="row">
                    <div class="col-sm-4 py-3 fs-3 txt-mycolor2">
                        INDEED <b class="txt-mycolor1 pe-1">LEARNING</b><i class="fa-solid fa-book txt-mycolor"></i>
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4 fs-2 py-3">
                        <a href="/user/contact/" class="btn btn-sm bg-mycolor1 rounded-pill text-light">Enquire</a>
                        <a href="/user/feedback/" class="btn btn-sm bg-mycolor1 rounded-pill text-light">Feedback</a>
                        <a href="/user/login/" class="btn btn-sm bg-mycolor1 rounded-pill text-light">Login</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row t3">
            <div class="col-sm-12  bg-mycolor2">
                <!--- start menu-->
                <nav class="navbar navbar-expand-lg bg-body-tertiary" id="menu">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse py-2" style="padding-left:300px; padding-right:300px;"
                            id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/user/index/">
                                        <i class="fa-solid fa-house"></i> Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/about/">
                                        <i class="fa-solid fa-circle-info"></i> About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/batches/"> <i class="fa-solid fa-landmark"></i> New Batches</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/registration/">
                                        <i class="fa-solid fa-right-to-bracket"></i> Registration</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/facility/"><i class="fa-solid fa-chalkboard-user"></i> 
                                        Our Facility</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/placement/"><i class="fa-solid fa-graduation-cap"></i> Our Placement</a>
                                </li>


                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- end menu-->

            </div>

        </div>
    </div>
    <div class="row">
        <div class="co-sm-12" style="min-height: 400px">
            {% block childpage %}
            {% endblock %}
        </div>
    </div>
    <div class="row footer1 bg-dark p-3">
        <div class="col-sm-4 bg-dark">
            <img class="img-responsive" src="{% static 'images/6.jpeg'%}" style="height:60px;"><br />
            <img class="img-responsive" src="{%static 'images/5.png'%}" style="height:60px;"><br />
            <img class="img-responsive" src="{% static 'images/7.jpeg'%}" style="height:60px;"><br />
        </div>
        <div class="col-sm-4 bg-dark ">
            <div class="text-light fs-2 p-3"><u>Contact</u> Address</div>
            <div class="text-light fs-5">
                <i class="fa-solid fa-house"></i> Plot No-43, Behind H.P Petrol Pump,<br />Tedhi Pulia Ring Road Rd,
                Sector 5,<br />
                Vikas Nagar,Lucknow,<br />Uttar Pradesh 226022<br /></br> <i class="fa-solid fa-phone"></i>
                +91-7007237006<br /><i class="fa-solid fa-phone"></i> +91-8052978684<br />
                <i class="fa-solid fa-envelope"></i> techpilelko@gmail.com
                <br />
            </div>
        </div>
        <div class="col-sm-4 bg-dark">
            <div class=" text-light fs-4 p-3"><b>TECHPILE</b></div>
            <div class="text-light fs-5">Techpile is an organization working in both Software Development and Software
                Training which aims
                to make all its clients feel spacial and help them to become</div><br /><br />
            <div class="text-light fs-3 "><u>Stay</u> Connected</div>
            <i class="fa-brands fa-facebook text-light fs-4 m-2"></i>
            <i class="fa-brands fa-twitter text-light fs-4 m-2"></i>
            <i class="fa-brands fa-instagram text-light fs-4 m-2 "></i>
            <i class="fa-brands fa-whatsapp text-light fs-4 m-2"></i>
            <i class="fa-brands fa-youtube text-light fs-4 m-2"></i>
        </div>
    </div>
    <div class="row footer2 bg-dark">
        <div class="col-sm-10 p-2">
            <div>&emsp;<b class="text-light">Techpile Technology</b> 2018 | Developed By
                <b class="text-light">Technical Team</b>
            </div>
        </div>
        <div class="col-sm-2 p-2">
            <b class="text-light">&emsp;&emsp;&emsp;&emsp;&emsp;Privacy and Policy</b>
        </div>
    </div>

    <script src="{% static '/js/bootstrap.bundle.js' %}"></script>
</body>

</html>