{% extends 'base.html' %}
{% load static %}
{% block childpage %}
<style>
   .a {
        background: whitesmoke;
        border-radius: 5px;
        min-height: 400px;
        width: 1100px;
    }
</style>
   <div class="row">
      <div class="col-sm-12 ">
          <h5 class="text-center py-1">About Our <u> Company </u></h5>
          <p class="text-center">
            There are multiple reasons to choose us for multiple purpose related to your IT. Believe me you will find us best suitable.
        </p>
      </div>
  </div>
  <div class="container-fluid a py-3 px-4">
   <div class="row">
      <div class="col-sm-6">
         <iframe width="500" height="315" src="https://www.youtube.com/embed/wt0DDJ-KedE?si=5bEaueVrPDJPAB7y" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="col-sm-6 py-2">
         <h5 class="divHeading">Welcome to the Techpile, just here is some little word to describe our work scope.</h5>
         <p>Techpile is founded by some young engineers who have mastered the IT sector, whose objective is to achieve the highest 
            position in the IT sector across the country, who are trying to achieve this objective by cooperating in various fields.
         </p>
         <p>Techpile is an organization working in both software development and software training, which aims to make all the specials
             of it's client successful through their coding as well as to make students more competent to work with a well reputed organization.
         </p>
      
      </div>
   </div>
   <div>
{% endblock %}