{% extends 'base.html' %}
{% load static %}
{% block childpage %}
<style>
    .form-control{
    height:45px;
    margin-bottom:15px;
    }
    </style>
<div class="text-center fs-2 p-3">
  Sign<b class="txt-mycolor2">Up</b>
</div>
<div class="col-sm-6 mx-auto  mb-5 p-4" style="background: whitesmoke;">
    <div class="row">
        <div class="col-sm-12">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                Name
                <input type="text" name="name" required placeholder="Name.." class="form-control"/>
                Email
                <input type="email" name="email" required placeholder="Email.." class="form-control"/>
                Password
                <input type="password" name="passwd" required placeholder="Password.." class="form-control"/>
                Mobile (Whatsapp No )
                <input type="number" name="mobile" required placeholder="Mobile.." class="form-control"/>
                College
                <input type="text" name="college" required placeholder="College.." class="form-control"/>
                Course
                <input type="text" name="course" required placeholder="Course.." class="form-control"/>
                <select name="pyear" class="form-control">
                    <option>--Select Pursuing Year--</option>
                    <option> I Year </option>
                    <option> II Year</option>
                    <option> III Year</option>
                    <option> IV Year</option>
                </select>
                <select name="batch" class="form-control">
                    <option>--Select Your Batch--</option>
                    {% for i in bdata %}
                    <option value="{{i.id}}">{{i.batch_name}} </option>
                    {% endfor %}
                </select>
                Profile Picture
                <input type="file" name="fu" class="form-control"/>
                <input type="submit" value="Save" class="btn bg-dark text-light" />
            </form>
        </div>

        <div class="col-sm-6"></div>
    </div>

</div>

{% endblock %}